{% extends "base.html" %}

{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <div>
            <a href="#about" class="btn-get-started scrollto">DONATE</a>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

<!-- Start #main -->  
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="row justify-content-center">
            <div class="col-lg-10 pt-12 pt-lg-0">

              <p data-aos="fade-up" data-aos-delay="100">
                    Girl Engineer is a Malawi-based registered non-profit organization that is dedicated to creating
                    opportunities that inspire, educate, and empower young girls to pursue STEM fields. Our
                    organization firmly believes in the immense potential of young girls to achieve greatness in
                    Science, Technology, Engineering, and Mathematics fields, and we tirelessly work to create
                    opportunities that inspire, educate, and empower them.
              </p>

              <p data-aos="fade-up" data-aos-delay="100">
                    Our primary focus is on designing and delivering hands-on STEM outreach workshops to primary
                    schools. We provide interactive learning experiences to increase STEM awareness and encourage
                    girls to explore the possibilities of these exciting fields. We are convinced that a solid foundation in
                    STEM education will not only benefit individual girls but also contribute to the development of
                    Malawi's economy and society as a whole.
              </p>


              <p data-aos="fade-up" data-aos-delay="100">
                    Besides our outreach workshops, we also organize STEM tours and expose young girls to STEM
                    role models. Through these activities, we hope to create a community of supportive and engaged
                    individuals who are committed to closing the gender gap in STEM fields of study and careers. We
                    believe that exposing young girls to real-world applications of STEM subjects and showing them
                    real job opportunities will help them make informed decisions about their future education and
                    career choices.
              </p>

              <p data-aos="fade-up" data-aos-delay="100">
                    We also engage in community awareness campaigns that aim to challenge the gender stereotypes
                    that hinder girls and women from pursuing STEM fields. Through these campaigns, we educate
                    parents and guardians on how they can encourage their daughters to pursue STEM fields just as
                    much as their sons and how they can support their daughters' STEM education opportunities.
              </p>

              <p data-aos="fade-up" data-aos-delay="100">
                     At Girl Engineer, we are committed to empowering young girls to pursue their dreams in STEM
                    fields. We believe that every girl deserves an equal opportunity to excel in their education,
                    regardless of their financial background. As such, we have established a STEM Sponsorship
                    program that offers various forms of support to needy girls who have demonstrated interest in
                    STEM careers.
              </p>

              <p data-aos="fade-up" data-aos-delay="100">
                    All of our five programs, namely STEM workshops, STEM role models, STEM tours, STEM
                    sponsorship, and STEM awareness, are interconnected. Through STEM workshops, we spark young
                    girls' interest and curiosity in STEM fields of study and careers. Then we expose them to STEM role
                    models so that they see that other women and girls are succeeding in STEM. Later, through STEM
                    tours, we show them real-world applications of STEM subjects and expose them to real job
                    opportunities. Through our STEM Sponsorship program, we go further to support financially
                    challenged girls who have demonstrated interest in STEM and are at risk of dropping out of school
                    due to financial constraints to stay in school. Finally, through our STEM awareness campaigns, we
                    educate parents and guardians on how they can encourage their daughters to pursue STEM fields
                    just as much as their sons and how they can support their daughters' STEM education
                    opportunities.
              </p>

              <p data-aos="fade-up" data-aos-delay="100">
                <strong style="color:orange;">Our mission</strong> at Girl Engineer is to create opportunities that inspire, educate, and empower young
                    girls to pursue STEM fields of study and careers. We firmly believe that every girl has the potential
                    to make a meaningful contribution to the world of STEM and that they deserve the opportunity to
                    explore these fields in a supportive and empowering environment.
              </p>

              <p data-aos="fade-up" data-aos-delay="100">
                    <strong style="color:orange;">Our vision</strong> is to close the gender gap in STEM fields of study and careers. We strive to create a
                    future where girls have equal access to STEM education, resources, and opportunities, and where
                    they can fulfill their potential and achieve their dreams.
              </p>

              <p data-aos="fade-up" data-aos-delay="100">
                    We are committed to making a positive difference in the lives of young girls in Malawi, and we invite
                    you to join us on this journey. Together, we can inspire the next generation of female leaders in
                    STEM and create a more equitable and prosperous world for all..
             </p>

            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
</main>
<!-- End #main -->  
{%endblock%}