{% extends "base.html" %}

{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero-banner" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h4 style="font-weight:700; color:white;">partner With Us</h4>
          <div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

<!-- Start #main -->  
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="row justify-content-center">
            <div class="col-lg-10 pt-12 pt-lg-0">
              <h4>About Girl Engineer</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                Girl Engineer is a Malawi-based registered non-profit organization that is dedicated to creating
                opportunities that inspire, educate, and empower young girls to pursue STEM fields. Our
                organization firmly believes in the immense potential of young girls to achieve greatness in
                Science, Technology, Engineering, and Mathematics fields, and we tirelessly work to create
                opportunities that inspire, educate, and empower them.
              </p>

              <h4>Benefits of Partnership</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                Our partners will take advantage of the partnership to publicize their brand and gain potential
                customers' trust and affection. By partnering with us, your organization will actively contribute to
                reducing the gender gap in STEM and make a positive impact on the lives of young girls.
              </p>

              <h4>Partnership Opportunities</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                We offer a range of partnership opportunities that allow organizations to actively participate in our
                mission of inspiring, educating, and empowering young girls in STEM fields. By partnering with us,
                you can make a meaningful impact on the lives of girls and contribute to a more diverse and
                inclusive future in STEM.
              </p>

              <h4>STEM Workshops</h4>
              <p data-aos="fade-up" data-aos-delay="100">                
                Our STEM workshops are an integral part of our outreach efforts. As a partner, you can support
                these workshops by making recurring donations or providing necessary resources. Your
                contribution will help us deliver engaging and hands-on STEM activities to girls in primary schools.
                These workshops not only provide valuable learning experiences but also foster curiosity, critical
                thinking, problem-solving skills, and a passion for STEM subjects.
              </p>

              <h4>STEM Tours</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                By organizing STEM tours, partners have the opportunity to showcase their companies or
                organizations and inspire young girls through real-world applications of STEM. During these tours,
                girls will visit your facilities, interact with professionals in STEM fields, and gain insights into
                various career paths. Your organization's support in arranging these tours and covering the
                associated expenses will have a lasting impact on the girls, helping them connect classroom
                learning with practical experiences.
              </p>

              <h4> STEM Sponsorship</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                Our STEM Sponsorship program aims to remove financial barriers that hinder girls' access to STEM
                education. Through this program, partners can make a significant difference in the lives of
                deserving girls by providing financial support. Your sponsorship can cover school fees, textbooks,
                educational materials, and other essential resources. By enabling girls from disadvantaged
                backgrounds to pursue their education in STEM, you are helping them unlock their potential and
                create a better future for themselves and their communities.
              </p>

              <h4>STEM Awareness</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                The STEM awareness campaign is a crucial initiative to create a more inclusive environment for
                girls in STEM. As a partner, you can join us in raising awareness about the importance of gender
                equality in STEM and highlighting the contributions of women in these fields. Together, we can
                organize events, workshops, seminars, and panel discussions that promote dialogue and challenge
                stereotypes. By spreading the message of diversity and inclusivity, we can inspire young girls to
                pursue STEM and encourage parents, educators, and the wider community to support their
                aspirations.
              </p>

              <h4>STEM Role Models</h4>
              <p data-aos="fade-up" data-aos-delay="100">               
                Representation matters. Through our STEM Role Models program, partners have the opportunity to
                provide female professionals who can serve as mentors and role models for young girls. Your
                organization can contribute by arranging guest speaker sessions, where successful women in
                STEM share their experiences, challenges, and achievements. By sharing their stories and insights,
                these role models can inspire and empower girls, showing them that they too can thrive in STEM
                careers.
              </p>

              <h4>How to Become a Partner</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                If you are interested in partnering with us or would like to discuss partnership opportunities in
                further detail, please contact us at girlengineermw@gmail.com. We look forward to hearing from
                you and working together to create a brighter future for young girls in STEM.
             </p>

             <p data-aos="fade-up" data-aos-delay="100">
              Thank you for your interest in partnering with Girl Engineer!
             </p>

            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
</main>
<!-- End #main -->  
{%endblock%}