{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- ======= Hero Section ======= -->
<section id="hero-banner" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 order-2 order-lg-1 d-flex  justify-content-center">
        <h3 style="font-weight:700; color:white;"></h3>
      </div>
      <div class="col-lg-4 order-2 order-lg-1 d-flex  justify-content-center">
        <h4 style="font-weight:700; color:white;border-radius:7/px;">Our Team</h4>
      </div>
      <div class="col-lg-4 order-2 order-lg-1 d-flex  justify-content-center">
        <h3 style="font-weight:700; color:white;"></h3>
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<!-- Start #main -->  
  <main id="main">
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Meet Our Team</h2>
      </div>

      <div class="row justify-content-center">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="member">
            <img src="{% static 'img/team/Ganizani.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Mr Ganizgani Sisya</h4>
                <span>Executive Director</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          <h4 style="color:white; justify-content:center;">Mr Ganizgani Sisya</h4>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="member">
            <img src="{% static 'img/team/Vitumbiko.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Vitumbiko Nyirenda</h4>
                <span>Chief Financial Officer</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="member">
            <img src="{% static 'img/team/Wesley.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Wesley Ching'ombe</h4>
                <span>Chief Program Officer</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="member">
            <img src="{% static 'img/team/Ganizani.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Felix Kumafutsa</h4>
                <span>Web Developer</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="member">
            <img src="{% static 'img/team/Winlo.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Winlo Nkhonjera</h4>
                <span>STEM Education Coordinator</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="member">
            <img src="{% static 'img/team/Princes.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Princess Chisale</h4>
                <span>STEM Education Instructor</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="member">
            <img src="{% static 'img/team/Fraha.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Fraha</h4>
                <span>STEM workshop Instructor</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="member">
            <img src="{% static 'img/team/zainab.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Zainab Kajawe</h4>
                <span>STEM Workshop Instructor </span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          <h6 style="text-align: center;">Zainab Kajawe</h6>
          <p>STEM Workshop Instructor </p>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="member">
            <img src="{% static 'img/team/Wesley.jpg' %}" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Wesley Ching'ombe</h4>
                <span>Chief Program Officer</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
  </section><!-- End Team Section -->
</main>
<!-- End #main -->  
{%endblock%}