{% extends "base.html" %}

{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero-banner" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h4 style="font-weight:700; color:white;">partner With Us</h4>
          <div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

<!-- Start #main -->  
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="row justify-content-center">
            <div class="col-lg-10 pt-12 pt-lg-0">
              <p data-aos="fade-up" data-aos-delay="100">
                At Girl Engineer, we offer exciting and rewarding volunteer opportunities for individuals who are passionate about empowering young girls and promoting STEM education. Join us in making a difference in the lives of girls and inspiring them to pursue their dreams. Here are two key volunteer roles:
              </p>

              <h4>1. Proposal Writer</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                Are you skilled in grant writing and proposal development? As a volunteer proposal writer, you will play a crucial role in helping us secure funding for our programs and initiatives. Your excellent writing skills and ability to craft persuasive proposals will contribute to the sustainability and growth of our organization.


              </p>

              <h4>2. STEM Workshop Instructor</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                Are you enthusiastic about STEM subjects and love sharing your knowledge with others? As a volunteer STEM workshop instructor, you will have the opportunity to inspire and educate young girls in the fields of Science, Technology, Engineering, and Mathematics. Through hands-on activities and engaging lessons, you will help spark curiosity and passion for STEM among our participants.
              </p>

              <h4>3. Other Opportunities</h4>
              <p data-aos="fade-up" data-aos-delay="100">                
                While our current focus is on proposal writing and STEM workshop instruction, we occasionally have other volunteer positions available. These may include event coordination, fundraising support, graphic design, content creation, or administrative tasks. Stay tuned for updates on additional volunteer opportunities.
              </p>

              <h4>Benefits of Volunteering</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                Volunteering with Girl Engineer is a rewarding experience that offers numerous benefits, including:
              </p>

              <h4>1. Making a Positive Impact</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                : Your contribution will directly impact the lives of young girls, inspiring them to pursue STEM education and opening doors to exciting career opportunities.
              </p>

              <h4>2. Professional Development: </h4>
              <p data-aos="fade-up" data-aos-delay="100">
                Gain valuable experience and enhance your skills in areas such as proposal writing, teaching, event coordination, or administration.
              </p>

              <h4>3. Networking Opportunities: </h4>
              <p data-aos="fade-up" data-aos-delay="100">               
                Connect with like-minded individuals, professionals, and organizations in the STEM and education sectors, expanding your network and potential career opportunities.
              </p>

              <h4>4. Personal Fulfilment</h4>
              <p data-aos="fade-up" data-aos-delay="100">
                Experience the joy of making a difference in the lives of others, witnessing the growth and success of the girls you inspire.
             </p>

             <h4>Volunteer Requirements</h4>
             <p data-aos="fade-up" data-aos-delay="100">
              To become a volunteer with Girl Engineer, we ask that you meet the following requirements:</p>


            <h4>1. Passion for our Mission</h4>
            <p data-aos="fade-up" data-aos-delay="100">
              Share our commitment to inspiring, educating, and empowering young girls to pursue STEM fields.</p>
           
           <h4>2. Relevant Skills and Experience</h4>
           <p data-aos="fade-up" data-aos-delay="100">
            Depending on the volunteer role, certain skills or experience may be required. For example, proposal writers should have excellent writing and communication skills, while workshop instructors should have a strong background in STEM subjects.</p>
          
          <h4>3. Time Commitment</h4>
          <p data-aos="fade-up" data-aos-delay="100">
            Be willing to dedicate a specific amount of time per week or month, depending on the volunteer role and project.</p>

            <h4>How to Become a Volunteer</h4>
            <p data-aos="fade-up" data-aos-delay="100">
              If you are excited about volunteering with Girl Engineer and making a positive impact, follow these steps to get started:</p>

           <h4>1. Review Available Opportunities</h4>
           <p data-aos="fade-up" data-aos-delay="100">
            Take a closer look at the volunteer opportunities mentioned above and determine which role aligns best with your skills and interests.</p>

          <h4>2. Contact Us</h4>
          <p data-aos="fade-up" data-aos-delay="100">
            Reach out to us via email at girlengineermw@gmail.com to express your interest in volunteering. Please mention the specific volunteer role you are interested in.</p>

         <h4>3. Application and Interview</h4>
         <p data-aos="fade-up" data-aos-delay="100">
          We will respond to your email and provide you with any necessary application forms or further instructions. We may also schedule an interview to discuss your qualifications, interests, and availability.</p>

        <h4>4. Orientation and Training</h4>
        <p data-aos="fade-up" data-aos-delay="100">
          Once selected as a volunteer, you will receive an orientation session to familiarize yourself with our organization, programs, and policies. If necessary, we will provide training specific to your volunteer role.</p>

       <p data-aos="fade-up" data-aos-delay="100">
        We look forward to welcoming you to our team of dedicated volunteers!</p>

      <h4>Contact Information</h4>
      <p data-aos="fade-up" data-aos-delay="100">
        If you have any questions or require further information about volunteering with Girl Engineer, please feel free to reach out to us at girlengineermw@gmail.com. We appreciate your interest and commitment to empowering young girls in STEM fields.</p>


             <p data-aos="fade-up" data-aos-delay="100">
              Thank you for considering Girl Engineer as your volunteering opportunity of choice!
             </p>

            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
</main>
<!-- End #main -->  
{%endblock%}